body {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 5% 0px 5%;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    width: 75%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hi {
    font-size: 3rem;
}

.bio {
}

.socials a {
    padding: 0px 0.5rem 0rem;
}

.projects {
    width: 75%;
}

.projects h3 {
    font-size: 1.5rem;
}

.project-hero {
    display: flex;
}

.project-head {
    display: flex;
    flex-direction: column;
    padding-right: 6rem;
}

.project-head h1 {
    font-size: 3rem;
    font-weight: 900;
}

.project-head p {
    font-size: 1.25rem;
}

.project-info {

}

.socials {
    font-size: 1.5rem;
}

.project {
    border: 1px dashed;
    padding: 2rem;
    margin: 2rem 0 2rem 0;
}

.project img {
    height: 20rem;
    padding: 2rem 2rem 0 0;
}

#outdoorempire {
    font-size: 1rem;
    text-decoration: underline;
    font-style: italic;
}

.contact {
    background-color: black;
    border: 1px solid;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 6rem 0;
    margin-top: 6rem;
}
.contact h1 {
    color: white;
    font-size: 2rem;
}

form {
    border: 1px solid;
    width: 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

form input {
    padding: 1rem;
    margin: 1rem ;
    width: 50%;
}

#message {
    padding-bottom: 10rem;
}